<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/loading.css"> <!-- Подключаем CSS -->

</head>

<body>
    <div id="loading-overlay">
        <div id="loading-spinner">
            <img src="/images/1.svg" alt="Загрузка..."> <!-- Вращающееся изображение -->
        </div>
    </div>
    <header>
        <h1>Сеть кофеен</h1>
        <nav>
            <a href="/">Главная</a>
            <a href="/cafes">Наши кофейни</a>
            <a href="/order">Заказать кофе</a>
            {{#if user}}
            <a href="/orders">История заказов</a>
            {{/if}} <!-- Новая ссылка на страницу заказа -->
            {{#if user}}
            {{#if user.isAdmin}}
            <a href="/admin">Админ-панель</a>
            {{/if}}
            <a href="/logout">Выйти</a>
            {{else}}
            <a href="/register">Регистрация</a>
            <a href="/auth/login">Вход</a>
            {{/if}}
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <script src="/loading.js"></script> <!-- Подключаем JS -->

</body>

</html>