<h2>Сделать заказ</h2>
<p>Выберите кофейню, чтобы увидеть доступные рецепты:</p>
<ul>
    {{#each cafes}}
    <li>
        <h3>{{this.name}}</h3>
        <p>Адрес: {{this.address}}</p>
        <a href="/order/{{this._id}}">Посмотреть доступные рецепты</a>
    </li>
    {{/each}}
</ul>