<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>
    <h1>{{message}}</h1>
</body>
<script>
    // Закрываем текущую вкладку
    setTimeout(() => {
        window.close();
    }, 2000); // Закроется через 2 секунды
</script>

</html>